.App {
  text-align: justify;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  display: flex;
  align-items: center;
  border-bottom: 4px solid red;
}

.App-header img {
  width: 200px;
  height: 200px;
}

.App-header h1 {
  color: red;
}

.App-body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 50px 50px;
}

.App-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  border-top: 4px solid red;
  text-align: center;
  font-style: italic;
  font-weight: bold;
}
